footer.footer
	.container-fluid
		.row		

			.col-xs-12.col-md-6.col-md-push-6
				.likely
					.twitter(data-via="fooontic_") 
					.facebook 
					.vkontakte 
				

			.col-xs-12.col-md-6.col-md-pull-6
				.footer__copyright © 2015
				.footer__mail Пишите мне на 
					a.link fooontic@gmail.com

