footer.footer
	.container-fluid
		.row		

			.likely-inner.col-xs-12.col-md-6.col-md-push-6
				span.share Поделиться 
				.likely.likely-big
					.twitter(data-via="fooontic_")
					.facebook
					.vkontakte
					.telegram(data-text="Зацени-ка")
				

			.col-xs-12.col-md-6.col-md-pull-6
				.footer__copyright © 2015–2017
				.footer__mail Пишите мне на 
					a.link fooontic@gmail.com
