header.header

	.header__container
		

		a.header__sandwich(href="#")
		a.header__logo(href="../").
			<svg version="1.1" id="main-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="logo"
				width="122px" height="40.9166679px" viewBox="0 0 122 40.9166679" enable-background="new 0 0 122 40.9166679" fill="#fff"
				xml:space="preserve">
				<g>
					<polygon points="21.8790302,40 41.9587288,40 62.0385284,1 41.9587288,1 	"/>
					<polygon points="62.0385284,40 82.1183319,40 102.1983261,1 82.1183319,1 	"/>
					<g>
						<polygon points="104.0096283,4.3382306 93.9697266,23.9472656 102.1983261,40 122.2782288,40 		"/>
					</g>
					<g>
						<polygon points="20.06213,36.85466 30.1019306,17.1427612 21.8736305,0.987061 1.7936296,0.987061 		"/>
					</g>
					<polygon points="60.2272301,36.85466 70.2670288,17.1428604 63.850029,4.543961 53.8102303,24.2555618 	"/>
				</g>			
			</svg>


		nav.header__nav
			ul.header__nav-list
				li.header__nav-item.active
					a(href="#") Проекты
				li.header__nav-item
					a(href="https://medium.com/@fooontic") Блог


	.site-cache


				
