header
	.supheader
		.container-fluid
			.row
				.col-xs-12.text-right

					a.link.link--white.lang.active RU
					a.link.link--white.lang EN

	.header
		.container-fluid
			.row
				.nav__logo.col-xs-10.col-sm-4.col-md-3
					a(href="#")
						img.logo.img-responsive(src="img/logo.svg",alt="Vadik Matveev")

				.nav__blog.col-xs-5.col-sm-1
					a.link(href="http://fooontic.tumblr.com/") Блог

				.nav__social.col-xs-7.col-sm-4
					span.header__social-me.hidden-xs.hidden-sm Сижу в

					a.social-icon.social-icon--behance
					a.social-icon.social-icon--twitter
					a.social-icon.social-icon--instagram
					a.social-icon.social-icon--facebook
					a.social-icon.social-icon--lastfm

				.nav__mail.col-xs-7.col-xs-offset-5.col-sm-3.col-sm-offset-0.col-md-offset-1.col-lg-2.col-lg-offset-2

					.header__mail-me
						span.hidden-xs Пишите мне

						a.link.mail fooontic@gmail.com
					