.container-fluid
	.row
		.temp.col-xs-12.col-sm-5.col-md-3

		.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3

		.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3

		.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3

		.temp.col-xs-12.col-sm-5.col-md-3.col-md-offset-1

		.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3