section.projects
	.container-fluid
		ul.projects__list.row
			li.projects__item.col-xs-12.col-sm-5.col-md-3
				a(href="projects/whatobuy.html").link Чокупить?

			li.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3
				a(href="projects/durecipes_app.html").link Дюрецепты приложение

			li.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3
				a(href="projects/tmsr.html").link ТМСР

			li.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3
				a(href="projects/durecipes_logo.html").link Дюрецепты логотип

			li.temp.col-xs-12.col-sm-5.col-md-3.col-md-offset-1

			li.temp.col-xs-12.col-sm-5.col-sm-offset-1.col-md-3