<!DOCTYPE html>
html(lang="ru")
head
	:verbatim
	include ../mixins/head.jade
	+head('Иконка и леттеринг для приложения — Вадик Матвеев', 'nested')

body.dur-logo
	
	:verbatim
	include ../mixins/header.jade
	+header('nested')

	section.dur-logo__promo
		//- img.img-fluid(src="../img/dur__steak-bg.jpg", alt="")
		.dur-logo__logo-inner
			img.dur-logo__logo.img-fluid(src="../img/dur-logo__logo.png", alt="")

		.dur-logo__border
			.dur-logo__edge
			//- .dur-logo__leave



	section.project
		.container-fluid
			.row
				.col-xs-12.col-lg-4
					h2.project__title Дюрецепты
					h4.project__subtitle Логотип для приложения
					p.project__year 2014

				.col-xs-12.col-sm-9.col-lg-6
					p.project__flow Сделал запоминающуюся иконку и леттеринг рецептника по диете Дюкана. Иконка приложения объединяет букву «Д» и образ добродушного повара. 

				.col-xs-12.col-sm-3.col-lg-2
					.project__madein.project__madein--logomotiv
						p Проект выполнен в<br>
							a.link(href="http://logomotivapp.ru/") Дизайн-&nbsp;студии Logomotiv
						p Арт-директор: Иван&nbsp;Большов


	section.dur-logo__history
		.dur-logo__history-xs-inner.hidden-sm-up
			img.img-fluid(src="../img/dur-logo__logo-history--ver.png", alt="")
		.dur-logo__history-inner.hidden-sm-down
			img.img-fluid(src="../img/dur-logo__logo-history.png", alt="")


	section.dur-logo__paper
		//- img.img-fluid(src="../img/dur__steak-bg.jpg", alt="")
		.dur-logo__border.dur-logo__border--up
			.dur-logo__edge
		.dur-logo__border
			.dur-logo__edge

	section.dur-logo__versions.switcher
		.dur-logo__versions-item.dur-logo__versions-item--russian.switchSelected#logoRu
			img.img-fluid(src="../img/dur-logo__russian.png", alt="")
		.dur-logo__versions-item.dur-logo__versions-item--english#logoEn
			img.img-fluid(src="../img/dur-logo__english.png", alt="")

		.row
			.col-xs-12.col-md-10.col-md-offset-2.col-lg-7.col-lg-offset-4.col-xl-8
					p.project__flow.switchNav Леттеринг в 
						span.switch.active#for_logoRu русской
						|  и 
						span.switch#for_logoEn английской
						|  версиях для размещения внутри приложения, а также рекламных и промо-материалов


	section.dur-logo__icons
		.row
			.dur-logo__icons-item
				img.img-fluid(src="../img/dur-logo__icon-win.png", alt="")
				span.dur-logo__icons-flow Windows
			.dur-logo__icons-item
				img.img-fluid(src="../img/dur-logo__icon-ios.png", alt="")
				span.dur-logo__icons-flow iOS
			.dur-logo__icons-item
				img.img-fluid(src="../img/dur-logo__icon-android.png", alt="")
				span.dur-logo__icons-flow Android

			.dur-logo__icons-phones
				img.img-fluid(src="../img/dur-logo__icon-phones.jpg", alt="")


	:verbatim
	include ../components/footer.jade

	script(src="../js/main.min.js")


