<!DOCTYPE html>
html(lang="ru")
head
	:verbatim
	include ../mixins/head.jade
	+head('Дизайн рецептника белково-овощной диеты для Android — Вадик Матвеев', 'nested')

body.dur-logo
	
	:verbatim
	include ../mixins/header.jade
	+header('nested')

	section.dur-logo__promo
		//- img.img-fluid(src="../img/dur__steak-bg.jpg", alt="")
		.dur-logo__logo-inner
			img.dur-logo__logo.img-fluid(src="../img/dur-logo__logo.png", alt="")

		.dur-logo__border
			.dur-logo__edge

		


