/// grid 
$screen-xs-min:		320px; // Xtra small screen / phone
$screen-sm-min:		544px; // Small screen / phone
$screen-md-min:		768px; // Medium screen / tablet
$screen-lg-min:		992px; // Large screen / desktop
$screen-xl-min:		1200px; // Extra large screen / wide desktop

$min-xs: 			'min-width:' + $screen-xs-min;
$min-sm: 			'min-width:' + $screen-sm-min;
$min-md: 			'min-width:' + $screen-md-min;
$min-lg: 			'min-width:' + $screen-lg-min;
$min-xl: 			'min-width:' + $screen-xl-min;





/// fonts
$font-family:		"Roboto", "Arial", sans-serif;
$oswald: 			"Oswald", "Arial", sans-serif;

$fz: 				1em;
$fz-12: 			.75em;
$fz-s:				14px;
$fz-16: 			16px;
$fz-21: 			21px;
$fz-35: 			2.1em;





/// colors
$text-color: 		#333333;
$black: 			#262626;
$gray: 				#807c7c;
$link: 				#a96566;
$blue: 				#3096bc;