.about {

	@include make-fixed-container();
	padding-bottom: 100px;

	@media ($min-md) { padding-top: 20px;}

	& .h2

	&__flow {
		margin: 0 0 1em;
	}

	&__photo {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 100%;

		@media ($min-md) {
			flex: 0 0 30%;
		}
	}

	&__me {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 100%;
		margin-top: 1em;

		@media ($min-md) {
			flex: 0 0 70%;
			margin-top: 0;
		}
	}
}