.about {

	@include make-fixed-container();
	padding-top: 20px;
	padding-bottom: 100px;

	& .h2

	&__flow {
		margin: 0 0 1em;
	}

	&__photo {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 30%
	}

	&__me {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 70%
	}
}