.blog {
	@include make-col(30px);
	flex: 0 0 100%;
	margin-top: 40px;

	@media ($min-lg) { 
		flex: 0 0 33.33333%;
		margin-top: 0;
	}
	
	&__box {
		padding-left: 15px;
		padding-bottom: 20px;
		border: 1px solid #ddd;
		border-radius: 7px;
	}

	&__list {
		list-style-type: none;
		padding: 0;
		
	}

	&__item {
		margin-bottom: 1.4em;
	}

	&__link {
		margin-right: 10px;
	}

	&__date {
		color: $gray;
		font-size: $fz-s;
		margin-top: .3em;

		@media ($min-lg) { display: block;}
	}
}