.footer {
	color: $gray;
	// margin: 100px 0 0;
	border-top: 1px solid fade-out($gray, .85);
	padding: 20px 0 20px;
}

.likely {
	margin: 15px -5px 10px;

	&-inner {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 2em;

		@media ($min-md) {
			justify-content: flex-end;
			margin-bottom: 0;
		}

		& .share {
			line-height: 2em;
			margin-right: 20px;
			width: 100%;
			display: block;
			margin-bottom: .5em;

			@media ($min-md) {
				display: inline;
				width: auto;
			}
		}
	}

	
}

