.footer {
	color: $gray;
	// margin: 100px 0 0;
	border-top: 1px solid fade-out($gray, .85);
	padding: 20px 0 10px;
}

.likely {
	margin: 15px -5px 10px;
}

@media (min-width: $screen-sm-min) {
	.likely {
		float: right;
	}
}