.temp {
	min-height: 280px;
	background-color: $gray;
	padding: 0 15px;
	margin-bottom: 50px;
}

.projects {

	&__list {
		list-style-type: none;
		padding: 0;
	}

	&__item {
		@extend .temp;

	}

}