.link {
	// display: inline-block;
	text-decoration: none;
	color: $link;
	border-bottom: 1px solid fade-out($link, .6);
	transition: all .4s;

	&:hover, &:focus{
		color: $blue;
		border-bottom: 1px solid fade-out($blue, .6);
		transition: all .1s;
		cursor: pointer;
		text-decoration: none;
		outline: none;
	}

	&--white {
		color: #fff;
		border-bottom: 1px solid fade-out(#fff, .6);
	}

	&--white:hover {
		color: lighten($blue, 85%);
		border-bottom: 1px solid fade-out(lighten($blue, 10%), .6);
	}

	&--pseudo {
		border-bottom: 1px dashed fade-out($link, .6);

		&--white:hover {
			border-bottom: 1px dashed fade-out(lighten($link, 10%), .6);
		}
	}


	// &--black {
	// 	color: #000;
	// 	border-bottom: 1px solid fade-out(black, .6);

	// 	&:hover {
	// 		color: $red;
	// 		border-bottom: 1px solid fade-out($red, 40%);
	// 	}
	// }

}


.h2 {
	font-weight: 300;
	font-size: $fz-l;
	margin: .67em 0 .5em;


}