.daisy {

	&-bg {
		background-image: url('../img/daisy__subheder-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 740px;
		position: fixed;
		top: 122px;
		left: 0;
		z-index: -1;
	}

	& img {
		@include img-fluid();
	}



	// SUBHEADER
	&-subheader {
		// background-image: url('../img/daisy__subheder-bg.jpg');
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center;
		padding: 60px 0 160px;
		color: #fff;

		& .project__year {
			color: #fff;
			margin-top: 15px;

			&:before {
				background-color: #fff;
			}
		}

		& .project__madein {
			margin-top: 5px;
		}


		&__title {
			font-size: 72px;
			font-weight: normal;
			text-align: center;
			margin: .5em 0 .4em;

			& .wip {
				font-size: 24px;
				color: fade-out(#fff, .5);
				margin-top: 1em;
			}
		}

		&__flow {
			font-size: 20px;

			&.important-icon {
				font-family: $italic;
				font-style: italic;
				font-size: 16px;

				&:before {
					left: -25px;
					top: 2px;
					opacity: .7;
				}
			}
		}


	}


	// MAIN PAGE
	&-main {
		@include make-fixed-container();
		position: relative;
		top: -125px;
		margin: 0 auto;


		&__1200{
			position: relative;
			left: 20px;
			max-width: 940px;
			height: auto;
			margin: 0 auto;
			border-radius: 3px 3px 7px 7px;
			overflow: hidden;
			box-shadow: 0 10px 30px fade-out(#000, .7);

			
		}

		&__320{
			position: absolute;
			bottom: 700px;
			left: 100px;
			max-width: 300px;
			height: auto;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 20px 30px 60px fade-out(#000, .6);

			& img {
				@include img-fluid();
			}
		}
	}



	// CATEGORY 
	&-category {
		// @include make-fixed-container();
		position: relative;
		margin: 0 auto;
		background-color: #2466bc;
		padding: 80px 0 50px;
		color: #fff;

		&__img {
			max-width: 940px;
			height: auto;
			margin: 0 auto;
			border-radius: 3px 3px 7px 7px;
			overflow: hidden;
			box-shadow: 0 10px 30px fade-out(#000, .7);
		}

		&__grid {
			max-width: 169px;
			height: auto;
			margin: 0 auto;
		}

		& img {
			@include img-fluid();
		}
	}



	// SEARCH RESULTS
	&-search {
		@include make-fixed-container();
		position: relative;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 50px;

		& img {
			@include img-fluid();
		}

		&__list {
			position: relative;
			right: 30px;
			max-width: 730px;
			height: auto;
			margin: 0 auto;
			border-radius: 2px 2px 6px 6px;
			overflow: hidden;
			box-shadow: 0 10px 30px fade-out(#000, .7);
		}

		&__map{
			position: absolute;
			bottom: 300px;
			left: 30px;
			max-width: 540px;
			height: auto;
			border-radius: 29px;
			overflow: hidden;
			box-shadow: 20px 30px 60px fade-out(#000, .8);
		}

	}



	// BUSINESS
	&-business {
		@include make-fixed-container();
		position: relative;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 50px;

		& img {
			@include img-fluid();
		}

		&__offer {
			position: relative;
			right: 30px;
			max-width: 730px;
			height: auto;
			margin: 0 auto;
			border-radius: 2px 2px 6px 6px;
			overflow: hidden;
			box-shadow: 0 10px 30px fade-out(#000, .7);
			z-index: 1;
			transform: scale(1, 1);
			transition: all ease .5s;

			&:hover {
				transform: scale(1.03, 1.03);
				z-index: 5;
				transition: all ease-out .2s;
			}
		}

		&__company{
			position: absolute;
			top: 300px;
			left: 30px;
			max-width: 730px;
			height: auto;
			border-radius: 2px 2px 6px 6px;
			overflow: hidden;
			box-shadow: 20px 30px 60px fade-out(#000, .8);
			z-index: 3;
		}

	}



	// CABINET 
	&-cabinet {
		position: relative;
		margin: 0 auto;
		background-color: #ea544e;
		padding: 80px 0 0;
		color: #fff;
		overflow: hidden;

		& .container-fluid { overflow: hidden;}

		&__title {
			display: block;
			position: relative;
			font-size: 36px;
			color: #fff;
			font-weight: 100;
			text-align: center;
		}

		&__accent {
			font-weight: bold;
			font-size: 48px;
			line-height: 1em;
			padding-bottom: 5px;
			display: inline-block;
			margin-top: -10px;
		}

		& .project__subtitle {
			font-size: 36px;
		}

		& .project__flow {
			margin-top: 38px;
		}

	}

	// BLOG 
	&-blog {
		padding: 100px 0 50px;

		&__img {
			@extend .daisy-category__img
		}
	}


	
	// GRAPHICS
	&-graphics {
		padding: 80px 0 100px;
	}

	&-mistakes {

		background-image: url('../img/daisy__skate-bg.jpg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: auto;
		height: 1000px;
		margin-top: 50px;
		padding-top: 110px;

		&__403, &__404 {
			display: none;
			border-radius: 33px;
			overflow: hidden;
			box-shadow: -10px 20px 70px fade-out(#000, .8);
		}

		& .project__flow {
			padding-top: 70px;
		}
	}



}







////// SLIDER ///////
.slide {

	&r {
		position: relative;
		height: 2100px;
	}

	&r-container {
		@include make-fixed-container();
		position: relative;
		// margin: 0 auto;
		// overflow-x: hidden;
		padding-top: 20px;
	}

	&-line {
		position: absolute;
		top: 0;
		height: 100%;
		left: 0;
		white-space: nowrap;
		font-size: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-left: -20px;
	}

	&-item {
		display: inline-block;
		height: 100%;
		transform: translateZ(0);

		// & img {
		// 	display: block;
		// 	// max-width: 100%;
		// 	// height: auto;
		// }
		
	}

	&-screenshot {
		display: inline-block;
		height: 2100px;
		background-size: contain;
		background-repeat: no-repeat;
		// image-rendering: pixelated;
	}

	&-item--1 &-screenshot, &-item--3 &-screenshot, &-item--5 &-screenshot{
		width: 600px;
	}

	&-item--2 &-screenshot, &-item--6 &-screenshot{
		width: 250px;
	}

	&-item--4 &-screenshot{
		width: 375px;
	}




	&r-edge {
		display: block;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		width: 120%;
		height: 80px;
		background-color: #fff;
		box-shadow: -40px 0 30px fade-out(#000, .7);

	}

}