.dur-logo {

	&__promo {
		height: 75vh;
		padding-top: 15vh;
		background-image: url(../img/dur__steak-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center ;
		@include make-container();
		position: relative;
		overflow: hidden;

	}

	&__border {
		background-color: white;
		width: 150%;
		height: 13vw;
		position: absolute;
		left: 50%;
		bottom: -100px;
		transform: translateX(-50%) rotate(-4deg);

		
	}

	&__edge {
		position: absolute;
		left: 0;
		top: -6px;
		right: 0;
		overflow: hidden;
		height: 9px;

		&::before {
			position: absolute;
			top: -1px;
			content: "";
			background-repeat: repeat;
			width: 100%;
			height: 10px;
			background-size: 22px 20px;
			background-image:
			radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
			// background-image: url('../img/dur-logo__border.png');
			// background-position: center 7px;

		}
	}

	&__logo-inner {
		margin: 0 auto;

		@media ($min-lg){
			width: 300px;
			height: auto;
		}
	}
}