mixin head(title, css)
	title= title
	meta(charset="UTF-8")		
	meta(http-equiv="content-type" content="text/html; charset=UTF-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='MobileOptimized', content='320')
	meta(name='HandheldFriendly', content='true')
	meta(name="description" content="Сайт-портфолио дизайнера Вадика Матвеева. Разработка дизайна сайтов, приложение, логотипов, айдентики и фирменных стилей")

	meta(name="keywords" content="apps, мобильные приложения, mobile, iOS, Android, Windows Phone, iPhone разработка, разработка мобильных приложений")

	link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,400italic&subset=cyrillic-ext',rel="stylesheet",type="text/css")
	//- link(href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css')
	//- link(href="http://fonts.googleapis.com/css?family=PT+Serif:400italic&amp;subset=latin,cyrillic",rel="stylesheet",type="text/css")
	
	block css-link
		-var selected = css;
		-var mainRoot = "css/main.css";

	-var division = { 'root': '', 'nested': '../', 'nested2': '../../'};
	
	each val, key in division

		if selected === key
			link(href=val+mainRoot,rel="stylesheet")
	

	//- link(href="css/twentytwenty.css",rel="stylesheet")
	//- link(href="css/owl.theme-c.css",rel="stylesheet")

	//- script(src="js/modernizr.js")